
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }



        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .container{
            width: 100%;
            padding: 21px;
            border-radius: 5px;
            /* background-color: blueviolet; */
            box-sizing: border-box;
            
        }
        .container button{
           margin: 12px;
        }
        main{
            width: 80%;
            /* background-color: aqua; */
            box-sizing: border-box;
        }
        .row{
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 15px;
            
        }
        .child{
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            
            
        }
        .child-left{
            width: 30%;
              background-color: #ffffff;
             border-radius: 5px;
             padding: 20px;
             box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            
        }
        .child-right{
            width: 70%;
            border-radius: 5px;
             background-color: #ffffff;
             padding: 20px;
             box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
        h3{
          margin: 13px;
        }
        
        .row-row2{
            /* background-color: rgb(45, 100, 148); */
                display: flex;}
                nav{
                    
                    width: 100%;
                }
                menu{
                    display: flex;
                    
                    background-color: rgb(218, 218, 218);
                    
                }
           
                form{
                    
                    width: 100px;
                    display: flex;
                    justify-content: row;
                    flex-direction: row;

                    align-items: center;
                    /* background-color: black; */
                }
                .center{
                    width: 790px;
                    display: flex;
                    flex-direction: row;
                    
                    
                    /* background-color: bisque; */
                    justify-content: center;
                    flex-direction: row;
                    
                    align-items: center;

                }
                .left{
                    width: 30%;
                    justify-content: start;
                     /* background-color: aquamarine;  */
                }
                    
                menu ul{
                   display: flex;
                    justify-content: space-around;
                    
                    
                }
                form{
                   padding: 5px;
                   
                }
                .right button{
                    padding: 10px;
                    border-radius: 10px;
                    border-color: bisque;
                }
                .center{
                    text-align: center;
                    
                    font-family:Georgia, 'Times New Roman', Times, serif;
                    font-weight: 800;
                    font-size: x-large;

                }
                footer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    gap: 22px;
                    padding: 11px;
                    background-color: rgb(17, 9, 39);
                    color: rgb(177, 174, 183);
                }
                footer .right-1{
                    width: 100%;
                    padding: 22px;
                    justify-content: space-between;
                    
                    /* background-color: aqua; */
                    
                }
                footer .center-1{
                    width: 100%;
                    /* background-color: aquamarine; */

                }
                footer .left-1{
                    width: 100%;
                    /* background-color: blue; */
                }
                
                
                

                
                    
                
                input{
                    padding: 10px;
                    border-radius: 7px;
                    
                    
                    
                }
                menu ul li{
                    
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    list-style-type: none;
                    padding: 11px;
                    font-weight: 700;
                    
                }
                menu ul li a{
                    text-decoration: none;
                    color: black;
                    
                    

                }
                menu ul li a:hover{
                    background-color:rgb(15, 14, 14) ;
                    color: whitesmoke;
                    border-radius: 5px;
                    padding: 13px;
                    
                    
                }

                @media (max-width: 768px) {
                    .container{
                        flex-direction: column;
                        box-sizing: border-box;
                        max-width: 768px;

                    }
                    .row-row2 .row-row3 .row-row1{
                        flex-direction: column;
                        padding: 40px;
                        max-width: 768px;
                        box-sizing: border-box

                        
                    }
                    .center{
                        width: 100%;

                    }
                    .right{
                        width: 10%;
                        justify-content: center;

                    }
                    .left{
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        /* background-color: aquamarine; */
                    }
                    menu{
                        max-width: 768px;
                        flex-direction: column;
                        box-sizing: border-box;
                    }

                    main {
                        max-width: 768px;
        
                        width: 95%;
                        padding: 10px;
                         }
                }
                    
    