*{
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Georgia', serif;
    }
    body {
  background-color: #f5f5f5;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
 
form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
  
.card {
  background-color: #ffffff;
 max-width: 500px;
  border-radius: 14px;
  margin: 120px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  padding: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  
  }
  .card input{
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #ececec;
    margin: 5px;
    width: 100%;
    font-size: large;
    border-radius: 10px;
    
  }
  .card button{
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff7f50;
    font-size: 15px;
    color: white;
  }
  
  

 
    

    

     nav{
                    width: 100%;
                }
                menu{
                    display: flex;
                    flex-direction: row;
                    background-color: rgb(218, 218, 218);
                    
                }
                    
                menu ul{
                    display: flex;
                    justify-content: space-around;
                    
                }
                menu ul li{
                    padding: 13px;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    list-style-type: none;
                    padding: 11px;
                    font-weight: 700;
                }
                menu ul li a{
                    text-decoration: none;
                    color: black;
                    padding: 13px;
                    

                }
                menu ul li a:hover{
                    background-color:rgb(15, 14, 14) ;
                    color: whitesmoke;
                    border-radius: 5px;
                    padding: 13px;
                }
